body
{
    font-family: Arial, Helvetica, Sans-Serif;
}

.page 
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.postitem 
{
    margin-bottom: 2em;
}

.itemhead 
{
    background-color: #E9EFF2;
    padding-top: .9em;
    padding-bottom: .7em;
    margin-left: -2em;
    padding-left: 1em;
    border-bottom: solid #C5E0DC 2px;
    border-right: solid #C5E0DC 1px;
}
.postheading 
{
    display: block;
    font-family: Verdana, Helvetica, Sans-Serif;
    font-size: 1.2em;
}

.posttime
{
    font-size: .9em;
    color: #555555;
}

pre 
{
    margin-left: auto;
    margin-right: auto;
    background-color: #F9F9F9;
    padding: 7px 10px;
    font-size: 90%;
    border: 1px solid #DADADA;
    width: 90%
}

.code 
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #F9F9F9;
    padding: 7px 10px;
    font-size: 90%;
    border: 1px solid #DADADA;
    width: 90%
}
#content
{
    display: block;
    float: left;
    width: 740px;
}

#sidebar 
{
    display: block;
    float: right;
    font-size: .75em;
    width: 200px;
}