<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="PlanetSyndicate.Feed1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/PlanetSyndicate/" />
          </baseAddresses>
        </host>
        <endpoint contract="PlanetSyndicate.IFeed1" address="Feed1" binding="webHttpBinding" behaviorConfiguration="PlanetSyndicate.Feed1Behavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PlanetSyndicate.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
